streamlit
fastapi==0.115.6
ray[serve]==2.40.0
python-multipart
pydantic

requests
gdown

pygments
pexpect

opencv-python-headless
ultralytics
scikit-learn
timm

# conda install pytorch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 pytorch-cuda=12.4 -c pytorch -c nvidia